name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - run: npx npm install
      - run: npm run build
        env:
          NITRO_PRESET: github_pages
      - name: Debug Build Output
        run: ls -la ./.output/public  # Check if the folder exists
      - name: Upload artifact
        uses: actions/upload-artifact@v4  # Correct action for GitHub Pages
        with:
          path: ./.output/public  # Ensure this is correct

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

